---
import Layout from '../../layouts/Layout.astro';
import { marked } from 'marked';
import { Breadcrumb, BreadcrumbItem } from '@adeccoux/tag-ds';
import HeadLine from '../../components/HeadLine.astro';
import { CustomChip } from '../../components/Work/Work';

export async function getStaticPaths() {
  // get readme from github
  const repos: any[] = await fetch(
    'https://api.github.com/users/eneko96/repos'
  ).then((res) => res.json());

  const getReadme = async (repo: any) => {
    const readme = await fetch(
      `https://raw.githubusercontent.com/Eneko96/${repo.name}/main/README.md`
    ).then((res) => res.text());
    return readme;
  };

  const readmes = await Promise.all(repos.map((repo) => getReadme(repo)));

  return repos.map((repo, idx) => {
    return {
      params: {
        slug: repo.name,
      },
      props: {
        id: repo.name,
        title: repo.name,
        name: repo.name,
        description: repo.description,
        url: repo.html_url,
        created_at: repo.created_at,
        topics: repo.topics,
        languages: [
          {
            name: 'JavaScript',
            color: '#f1e05a',
          },
          {
            name: 'TypeScript',
            color: '#2b7489',
          },
          {
            name: 'CSS',
            color: '#563d7c',
          },
          {
            name: 'HTML',
            color: '#e34c26',
          },
        ],
        content: marked.parse(readmes[idx], {
          breaks: true,
          gfm: true,
          headerIds: true,
        }),
      },
    };
  });
}
const {
  id,
  name,
  description,
  url,
  content,
  languages,
  title,
  topics,
  created_at,
} = Astro.props;

const VALID_METHODOLOGIES = [
  'agile',
  'scrum',
  'kanban',
  'waterfall',
  'lean',
  'domain-driven-development',
];

export const methodologyParser = (methodology: string[]): string => {
  const res = methodology.find((methodology) =>
    VALID_METHODOLOGIES.includes(methodology.toLowerCase())
  );
  if (res?.includes('-')) res.replaceAll('-', ' ');
  return res ?? 'agile';
};

const VALID_CLIENTS = ['myself', 'hackathon'];

export const serializeClient = (clients: string[]): string => {
  const res = clients.find((client) =>
    VALID_CLIENTS.includes(client.toLowerCase())
  );

  return res ?? 'myself';
};

const VALID_PROJECT_TYPE = ['web', 'mobile', 'desktop', 'iot'];

export const projectTypeParser = (projectTypes: string[]): string => {
  const res = projectTypes.find((projectType) =>
    VALID_PROJECT_TYPE.includes(projectType.toLowerCase())
  );

  return res ?? 'web';
};
---

<Layout title="Title">
  <div role="main">
    <HeadLine title="Hello Welcome to my portfolio!" />
    <div class="study-header">
      <Breadcrumb client:visible>
        <BreadcrumbItem id="1" title="Case Studies" href="/" />
        <BreadcrumbItem id="2" title={name} href="#" />
      </Breadcrumb>
      <h1 class="study-header-content">{title}</h1>
    </div>
    <div class="study-page-container">
      <div class="study-inner">
        <main class="study-inner-container-layer">
          <div class="study-inner-container-content">
            <div set:html={content} />
          </div>
        </main>
      </div>
      <div class="study-right-side">
        <div class="study-right-side-container">
          <div class="study-right-side-element">
            <small>Client</small>
            <p class="study-topic-element">
              {serializeClient(topics)}
            </p>
          </div>

          <div class="study-right-side-element">
            <small>Date</small>
            <p>
              {
                Intl.DateTimeFormat('default', {
                  month: 'short',
                  year: 'numeric',
                }).format(new Date(created_at))
              }
            </p>
          </div>

          <div class="study-right-side-element">
            <small>Type of Project</small>
            <p class="study-topic-element">
              {projectTypeParser(topics)}
            </p>
          </div>

          <div class="study-right-side-element">
            <small>Tech Stack</small>
            {
              languages ? (
                <div class="study-tech-stack">
                  {Object.keys(languages).map((lang, idx) => (
                    <CustomChip client:visible key={idx + lang}>
                      {lang}{' '}
                    </CustomChip>
                  ))}
                </div>
              ) : (
                <p>No languages provided</p>
              )
            }
          </div>

          <div class="study-right-side-element">
            <small>Methodology</small>
            <p class="study-topic-element">
              {methodologyParser(topics)}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {astro.html} -->
</Layout>

<style>
  .study-img-container {
    margin-top: 72px;
    position: relative;
  }

  .study-img-title {
    border-radius: 8px;
    object-fit: cover;
  }

  .study-img-container::after {
    content: attr(data-title);
    font-size: 20px;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    color: white;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 32px;
    left: 24px;
  }

  .study-header {
    background-color: var(--neutral100);
    min-height: 220px;
    padding-left: 102px;
    padding-top: 16px;
    padding-bottom: 28px;
  }

  h1.study-header-content {
    margin-top: 40px;
    max-width: 672px;
  }

  .study-inner-container-content {
    width: 100%;
  }

  .study-inner-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .study-tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 16px;
    gap: 8px;
  }

  .study-topic-element {
    text-transform: capitalize;
  }

  .study-page-container {
    margin: 39px auto 0px 102px;
    display: flex;
  }

  .study-inner {
    padding-top: 44px;
    padding-bottom: 100px;
    flex: 1 1 auto;
  }

  .study-right-side {
    transition: box-shadow 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    .study-header {
      padding: 32px 20px;
      margin-inline: -20px;
    }
    h1.study-header-content {
      margin-top: 10px;
    }

    .study-page-container {
      margin: 0;
      flex-direction: column-reverse;
    }

    .study-right-side {
      flex: none;
      padding: 0;
      box-shadow: none;
      margin-left: 0;
      margin-top: 32px;
    }

    .study-right-side-container {
      position: static;
      top: unset;
    }

    .study-right-side::after {
      content: '';
      display: block;
      height: 1px;
      background-color: var(--neutral200);
      margin-top: 32px;
      width: auto;
    }

    .study-inner {
      padding-top: 32px;
    }
  }
</style>
